---
layout: home
permalink: /index.html
---

  <main class="main">

    <!-- Hero Section -->
    <section id="hero" class="hero section light-background">

      <div class="info d-flex align-items-center">
        <div class="container">
          <div class="row justify-content-center" data-aos="fade-up" data-aos-delay="100">
            <div class="col-lg-8 text-center">
              <h2>Don't just change the world. <span>Evolve</span> it!</h2>
              <p>We need your to help build a world that we can all thrive in. We can show you how!<br>With a simple creative practice, you can use the best of your hard-won experience, knowledge and skills to help re-imagine the world we live in. </p>
              <a href="#getting-started" class="btn-get-started">Get Started</a>
            </div>
          </div>
        </div>
      </div>

    </section><!-- /Hero Section -->

    <!-- Getting Started Section -->
    <section id="getting-started" class="getting-started section">

      <div class="container" data-aos="fade-up">

        <div class="row gy-4">
          <div class="col-lg-6">
            <img src="/images/getting-started.png" class="img-fluid" alt="">
            <div class="credit">Photo by <a href="https://unsplash.com/@jdiegoph?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Diego PH</a> on <a href="https://unsplash.com/photos/person-holding-light-bulb-fIq0tET6llw?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Unsplash</a></div>
          </div>
          <div class="col-lg-6 content">
            <h3>Getting Started</h3>
            <p>
              A creative practice is a simple set of steps that you can take to start using your best experience, knowledge and skills to improve the world. Here's how you can get started:
            </p>
            <ul>
              <li><i class="bi bi-check-circle-fill"></i> <span>Learn what it means to <a href="https://www.jimapplegate.com/your-creative-practice/" target="_blank">begin your creative practice</a> with this article. I wrote this a few years ago and it remains one of the clearest explanations available of what we're trying to do and why we're trying to do it.</span></li>
              <li><i class="bi bi-check-circle-fill"></i> <span>Join our online community, <a href="https://www.hylo.com/groups/tensegrity/join/rlwJ9x1qM7" target="_blank">The Tensegrity</a>, even if you're just thinking about starting a creative practice. It's free and you can always delete your account later if you want.</span></li>
              <li><i class="bi bi-check-circle-fill"></i> <span>Check out our <a href="#projects">Work That Needs Doing</a> section to see what projects you might be interested in. You're coming into this on the ground floor, as they say, so your unique experience, knowledge and skills are integral to making this work.</span></li>
              <li><i class="bi bi-check-circle-fill"></i> <span>Start your own creative practice by creating, contributing to or adapting an open artifacts project. Help spread the word so the community grows and there are more collaborative opportunities.</span></li>
            </ul>
          </div>
        </div>

      </div>
    </section><!-- /Getting Started Section -->

    <!-- About Section -->
    <section id="about" class="about section">

      <div class="container" data-aos="fade-up" data-aos-delay="100">

        <div class="row gy-4">
          <div class="col-lg-6 content">
            <h3>About Evolve The World</h3>
            <p class="fst-italic">
              Evolve the World is an open artifacts project intended to bootstrap the infrastructure and community needed to grow a thriving evolutionary design movement. Our goals:
            </p>
            <ul>
              <li><i class="bi bi-check-circle-fill"></i> <span>Help cultural creators like you start your creative practice.</span></li>
              <li><i class="bi bi-check-circle-fill"></i> <span>Build the tools—like the <a href="#open-artifacts-hub">Open Artifacts Hub</a>—needed to support cultural creators.</span></li>
              <li><i class="bi bi-check-circle-fill"></i> <span>Build a community of cultural creators using their creative energy for good.</span></li>
              <li><i class="bi bi-check-circle-fill"></i> <span>Encourage the creation and development of lots of open artifacts projects.</span></li>
              <li><i class="bi bi-check-circle-fill"></i> <span>Form local evolutionary design groups that use open artifacts to build a better world.</span></li>
            </ul>
            <p>
              We envision a world where everyday people are actively participating in humanity's evolution toward a world that works for all humanity, where all life experiences a high quality of life.
            </p>
          </div>
          <div class="col-lg-6 2">
            <img src="/images/about.png" class="img-fluid" alt="">
            <div class="credit">Photo by <a href="https://unsplash.com/@benwhitephotography?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Ben White</a> on <a href="https://unsplash.com/photos/person-holding-black-and-brown-globe-ball-while-standing-on-grass-land-golden-hour-photography-gEKMstKfZ6w?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Unsplash</a></div>
          </div>
        </div>

      </div>

    </section><!-- /About Section -->


    <!-- Call To Action Section -->
    <section id="call-to-action" class="call-to-action section dark-background">

      <div class="container">

        <div class="row" data-aos="zoom-in" data-aos-delay="100">
          <div class="col-xl-9 text-center text-xl-start">
            <h3>Check out our online community: The Tensegrity</h3>
            <p>Tensegrity is our community on Hylo where you can ask questions, connect with others looking to create a better world, and even float ideas for new open artifacts projects. Come hang out with us!</p>
          </div>
          <div class="col-xl-3 cta-btn-container text-center">
            <a class="cta-btn align-middle" href="https://www.hylo.com/groups/tensegrity/join/rlwJ9x1qM7" target="_blank">Visit The Tensegrity</a>
          </div>
        </div>

      </div>

    </section><!-- /Call To Action Section -->

    <!-- Work That Needs Doing Section -->
    <section id="projects" class="projects section">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>Work That Needs Doing</h2>
        <p>These are projects that are directly related to our goal of building up the infrastructure needed to create a thriving evolutionary design movement. We invite you to look at the work that needs to doing and see what might be yours to do.</p>
      </div><!-- End Section Title -->

      <div class="container">

        <div class="row gy-4">

          <div class="col-md-6" data-aos="fade-up" data-aos-delay="100">
            <div class="project-item d-flex position-relative h-100">
              <i class="bi bi-globe-americas icon flex-shrink-0"></i>
              <div>
                <h4 class="title" id="evolve-the-world">Evolve The World</h4>
                <p><a href="https://evolvetheworld.org" target="_blank">EvolveTheWorld.org</a> | <a href="https://github.com/jimappleg8/evolve-the-world" target="_blank" class="github"><i class="bi bi-github"></i> View on Github</a></p>
                <p>Yes, this website and project. We have a lot of plans for how this project can be more effective, but we need your help to make it happen. View the project's list of <a href="https://github.com/jimappleg8/evolve-the-world/blob/main/NEEDS_DOING.md" target="_blank">Work That Needs Doing</a>.</p>
              </div>
            </div>
          </div>

          <div class="col-md-6" data-aos="fade-up" data-aos-delay="100">
            <div class="project-item d-flex position-relative h-100">
              <i class="bi bi-bricks icon flex-shrink-0"></i>
              <div>
                <h4 class="title" id="evolve-the-world">Open Artifacts Inititive</h4>
                <p><a href="https://openartifacts.org" target="_blank">OpenArtifacts.org</a> | <a href="https://github.com/jimappleg8/openartifacts-org" target="_blank" class="github"><i class="bi bi-github"></i> View on Github</a></p>
                <p>The Open Artifacts Initiative will define what open artifacts are, provide information on licenses, and otherwise promote the creation and use of open artifacts. We want this to be a place people can go to learn about open artifacts because we think they will have a lot of questions. We could use a lot of help moving this from an idea to a useful website.</p>
              </div>
            </div>
          </div>

          <div class="col-md-6" data-aos="fade-up" data-aos-delay="100">
            <div class="project-item d-flex position-relative h-100">
              <i class="bi bi-search-heart icon flex-shrink-0"></i>
              <div>
                <h4 class="title" id="open-artifacts-hub">Open Artifacts Hub</h4>
                <p><a href="https://openartifacts.com" target="_blank">OpenArtifacts.com</a> | <a href="https://github.com/jimappleg8/openartifacts-com" target="_blank" class="github"><i class="bi bi-github"></i> View on Github</a></p>
                <p>This project builds and maintains a website listing open artifacts projects so that cultural creators can more easily find work that needs doing as part of their creative practice. We need help with both building a flat-file database system and populating that database with information about existing open artifacts projects.</p>
              </div>
            </div>
          </div>

        </div>

      </div>

    </section> <!-- /Key Concepts Section -->







  </main>

