---
layout: home
permalink: /index.html
---

  <main class="main">

    <!-- Hero Section -->
    <section id="hero" class="hero section light-background">

      <div class="info d-flex align-items-center">
        <div class="container">
          <div class="row justify-content-center" data-aos="fade-up" data-aos-delay="100">
            <div class="col-lg-8 text-center">
              <h2>Don't change the world. <span>Evolve</span> it!</h2>
              <p>We need your to help build a world that we can all thrive in. We can show you how!<br>With a simple creative practice, you can use the best of your hard-won experience, knowledge and skills to help re-imagine the world we live in. </p>
              <a href="#featured-services" class="btn-get-started">Get Started</a>
            </div>
          </div>
        </div>
      </div>

    </section><!-- /Hero Section -->

    <!-- About Section -->
    <section id="about" class="about section">

      <div class="container" data-aos="fade-up" data-aos-delay="100">

        <div class="row gy-4">
          <!-- <div class="col-lg-6 2">
            <img src="assets/img/about.jpg" class="img-fluid" alt="">
          </div> -->
          <div class="col-lg-6 content">
            <h3>About Evolve The World</h3>
            <p class="fst-italic">
              Evolve the World is an open artifacts project intended to bootstrap the infrastructure and community needed to grow a thriving evolutionary design movement. Our goals:
            </p>
            <ul>
              <li><i class="bi bi-check-circle-fill"></i> <span>Help cultural creators like you start your creative practice.</span></li>
              <li><i class="bi bi-check-circle-fill"></i> <span>Build the tools—like the <a href="#open-artifacts-hub">Open Artifacts Hub</a>—needed to support cultural creators.</span></li>
              <li><i class="bi bi-check-circle-fill"></i> <span>Build a community of cultural creators using their creative energy for good.</span></li>
              <li><i class="bi bi-check-circle-fill"></i> <span>Encourage the creation and development of lots of open artifacts projects.</span></li>
              <li><i class="bi bi-check-circle-fill"></i> <span>Form local evolutionary design groups that use open artifacts to build a better world.</span></li>
            </ul>
            <p>
              We envision a world where everyday people are actively participating in humanity's evolution toward a world that works for all humanity, where all life experiences a high quality of life.
            </p>
          </div>
        </div>

      </div>

    </section><!-- /About Section -->



    <!-- Call To Action Section -->
    <section id="call-to-action" class="call-to-action section dark-background">

      <div class="container">

        <div class="row" data-aos="zoom-in" data-aos-delay="100">
          <div class="col-xl-9 text-center text-xl-start">
            <h3>Check out our online community: The Tensegrity</h3>
            <p>Tensegrity is our community on Hylo where you can ask questions, connect with others looking to create a better world, and even float ideas for new open artifacts projects. Come hang out with us!</p>
          </div>
          <div class="col-xl-3 cta-btn-container text-center">
            <a class="cta-btn align-middle" href="https://www.hylo.com/groups/tensegrity/join/rlwJ9x1qM7" target="_blank">Visit The Tensegrity</a>
          </div>
        </div>

      </div>

    </section><!-- /Call To Action Section -->

    <!-- Work That Needs Doing Section -->
    <section id="projects" class="projects section">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>Work That Needs Doing</h2>
        <p>These are projects that are directly related to our goal of building up the infrastructure needed to create a thriving evolutionary design movement. We invite you to look at the work that needs to doing and see what might be yours to do.</p>
      </div><!-- End Section Title -->

      <div class="container">

        <div class="row gy-4">

          <div class="col-md-6" data-aos="fade-up" data-aos-delay="100">
            <div class="project-item d-flex position-relative h-100">
              <i class="bi bi-search-heart icon flex-shrink-0"></i>
              <div>
                <h4 class="title" id="evolve-the-world">Evolve The World</h4>
                <p><a href="https://openartifacts.com" target="_blank">EvolveTheWorld.org</a> | <a href="https://github.com/jimappleg8/evolve-the-world" target="_blank" class="github"><i class="bi bi-github"></i> View on Github</a></p>
                <p>Yes, this website and project. We have a lot of plans for how this project can be more effective, but we need your help to make it happen. View the project's list of <a href="https://github.com/jimappleg8/evolve-the-world/blob/main/NEEDS_DOING.md" target="_blank">Work That Needs Doing</a>.</p>
              </div>
            </div>
          </div>

          <div class="col-md-6" data-aos="fade-up" data-aos-delay="100">
            <div class="project-item d-flex position-relative h-100">
              <i class="bi bi-search-heart icon flex-shrink-0"></i>
              <div>
                <h4 class="title" id="open-artifacts-hub">Open Artifacts Hub</h4>
                <p><a href="https://openartifacts.com" target="_blank">OpenArtifacts.com</a> | <a href="https://github.com/jimappleg8/openartifacts-com" target="_blank" class="github"><i class="bi bi-github"></i> View on Github</a></p>
                <p>This project builds and maintains a website listing open artifacts projects so that cultural creators can more easily find work that needs doing as part of their creative practice.</p>
              </div>
            </div>
          </div>

        </div>

      </div>

    </section> <!-- /Key Concepts Section -->







  </main>

